.mobile-nav{
  position: absolute;
  display: grid;
  grid-template-columns: 1fr;
  background-color: #FFFFFF;
  gap: 30px 0;
  top: 80px;
  left: 0;
  width: 100%;
  padding: 20px 0 20px 20px;
  transition: .3s;
}

.mobile-nav nav{
  display: flex;
  flex-direction: column;
  gap: 20px 0;
}

.mobile-nav nav p {
  border-radius: 5px;
  border: 1px solid #303030ce;
  background-color: #FFFFFF;
  box-shadow: 3.5px 3.5px 0 0 #2e2e2e;
  color: #000000;
  font-weight: 500;
  width: fit-content;
  font-size: .85em;
  padding: 5px;
  cursor: pointer;
  transition: .3s;
}

.mobile-nav nav p:active {
  transform: scale(.95);
  box-shadow: 2px 2px 0 0 #2e2e2e;
}

.mobile-social{
  display: flex;
  align-items: center;
  gap: 0 10px;
}

.mobile-discord, .mobile-linked{
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  border: 1px solid #303030ce;
  background-color: #FFFFFF;
  box-shadow: 3.5px 3.5px 0 0 #2e2e2e;
  padding: 6px;
  font-size: 1.2em;
  transition: .3s;
  color: #FFFFFF;
}

.mobile-discord{
  background-color: #404EED;
}

.mobile-linked{
  background-color: #0A66C2;
}

.mobile-discord:active, .mobile-linked:active{
  transform: scale(.95);
  box-shadow: 2px 2px 0 0 #2e2e2e;
}

.dark-mode{
  background-color: #374151;
}

.del-mobile-shadow nav p{
  border: 1px solid #303030ce;
  box-shadow: none;
}