.navbar{
  display: flex;
  align-items: center;
  gap: 0 20px;
}

.navbar p{
  padding: 7px;
  border-radius: 5px;
  border: var(--border-desktop);
  background-color: var(--white-color);
  box-shadow: var(--box-shadow-desktop);
  color: var(--black-color);
  text-decoration: none;
  font-weight: 500;
  font-size: var(--font-size-p-desktop);
  transition: .7s;
  cursor: pointer;
}

.navbar p:active {
  transform: scale(.95);
  box-shadow: 2px 2px 0 0 var(--black-color);
}

.del-navbar-shadow p{
  border: var(--border-desktop);
  box-shadow: none;
}

/* responsive breakpoints */
/* for tablet view */
@media screen and (max-width: 992px) {
  .navbar{
    justify-content: center;
    gap: 0 10px;
  }

  .navbar a{
    font-size: var(--font-size-p-tablet);
    padding: 6px;
  }
}

/* for mobile view */
@media screen and (max-width: 576px) {
  .navbar{
    display: none;
  }
}