.wrap-jumbotron{
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  gap: 0 30px;
  padding: 0 20px 0 20px;
}

.jumbotron-title{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px 0;
}

.jumbotron-title h2{
  font-weight: 500;
  font-size: 3em;
}

.jumbotron-title p {
  line-height: 25px;
  font-weight: 300;
}

.btn-cv{
  display: flex;
  align-items: center;
  gap: 0 5px;
  width: fit-content;
  font-weight: 500;
  text-decoration: none;
  color: #000000;
  padding: 6px;
  border-radius: 5px;
  border: 1px solid #303030ce;
  background-color: #FFFFFF;
  box-shadow: 3.5px 3.5px 0 0 #2e2e2e;
  transition: .3s;
  cursor: pointer;
}

.btn-cv:active {
  transform: scale(.95);
  box-shadow: 2px 2px 0 0 #303030ce;
}

.jumbotron-animasi{
  top: 30px;
  position: relative;
  height: 500px;
}

.animasi-lottie{
  width: 500px;
}

.js, .java, .sc{
  width: 55px;
  height: 55px;
  padding: 6px;
  border-radius: 5px;
  border: 1px solid #303030ce;
  background-color: #FFFFFF;
  box-shadow: 3.5px 3.5px 0 0 #2e2e2e;
}

.js{
  position: absolute;
  top: 70px;
  left: 130px;
  animation: bounce-js 2s linear infinite;
}

/* .java{
  position: absolute;
  top: 140px;
  right: 100px;
  animation: bounce-java 2s linear infinite;
} */

.sc{
  position: absolute;
  top: 200px;
  left: 50px;
  animation: bounce-sc 2s linear infinite;
}

.jumbotron-dark-mode{
  color: #FFFFFF;
}

.btn-dark-jumbotron{
  border: 1px solid #303030ce;
  box-shadow: none;
}

@keyframes bounce-js {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

/* @keyframes bounce-java {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-30px);
  }
} */

@keyframes bounce-sc {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

/* responsive breakpoints */
/* for desktops (large screens) */
@media (min-width: 1025px) and (max-width: 1200px){
  .wrap-jumbotron{
    gap: 0 10px;
  }

  .jumbotron-title h2{
    font-size: 2.6em;
  }

  .jumbotron-animasi{
    top: 40px;
  }

  .animasi-lottie{
    width: 450px;
  }

  .js, .java, .sc{
    width: 50px;
    height: 50px;
  }
}

/* for laptops (small screens) */
@media (min-width: 769px) and (max-width: 1024px) {
  .wrap-jumbotron{
    gap: 0 10px;
  }

  .jumbotron-title h2{
    font-size: 2.3em;
  }

  .jumbotron-animasi{
    top: 55px;
  }

  .animasi-lottie{
    width: 420px;
  }

  .js{
    top: 60px;
    left: 130px;
  }

  .sc{
    top: 165px;
  }

  .js, .java, .sc{
    width: 50px;
    height: 50px;
  }
}

/* for tablet, iPads */
@media (min-width: 481px) and (max-width: 768px) {
  .jumbotron-title h2{
    font-size: 2em;
  }

  .jumbotron-animasi{
    display: none;
  }

  .jumbotron-title{
    gap: 10px 0;
    margin-top: 70px;
    margin-bottom: 100px;
    text-align: center;
    align-items: center;
  }

  .btn-cv{
    margin-top: 20px;
  }
}

/* for mobile devices */
@media (min-width: 320px) and (max-width: 480px) {
  .jumbotron-title h2{
    font-size: 1.8em;
  }

  .jumbotron-title p {
    font-size: .9em;
  }

  .jumbotron-title{
    gap: 10px 0;
    margin-top: 70px;
    margin-bottom: 100px;
    text-align: center;
    align-items: center;
  }

  .jumbotron-animasi{
    display: none;
  }

  .btn-cv{
    margin-top: 20px;
  }
}