.social-media-head{
  display: flex;
  align-items: center;
  justify-self: end;
  gap: 0 10px;
}

.discord, .linked{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px;
  border-radius: 3px;
  border: 1px solid #303030ce;
  box-shadow: 3.5px 3.5px 0 0 #2e2e2e;
  font-size: 1.2em;
  transition: .7s;
  color: #FFFFFF;
}

.discord{
  background-color: #404EED;
}

.linked{
  background-color: #0A66C2;
}

.discord:active, .linked:active{
  transform: scale(.95);
  box-shadow: 2px 2px 0 0 #2e2e2e;
}

.btn-dark-mode{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px;
  border-radius: 3px;
  border: 1px solid #303030ce;
  background-color: #FFFFFF;
  box-shadow: 3.5px 3.5px 0 0 #2e2e2e;
  font-size: 1.2em;
  transition: .3s;
  cursor: pointer;
}

.btn-dark-mode:active{
  transform: scale(.95);
  box-shadow: 2px 2px 0 0 #2e2e2e;
}

.hamburger-menu{
  display: none;
}

.del-shadow{
  border: 1px solid #555555ce;
  background-color: #2e2e2e;
  color: #FFFFFF;
  box-shadow: none;
}

.del-discord-shadow, .del-linked-shadow{
  border: 1px solid #303030ce;
  box-shadow: none;
}

/* responsive breakpoints */
/* for desktops (large screens) */
@media (min-width: 1025px) and (max-width: 1200px){
  .discord, .linked{
    font-size: 1.1em;
  }

  .btn-dark-mode{
    font-size: 1.1em;
  }
}

/* for laptops (small screens) */
@media (min-width: 769px) and (max-width: 1024px) {
  .discord, .linked{
    font-size: 1em;
  }

  .btn-dark-mode{
    font-size: 1em;
  }
}

/* for tablet, iPads */
@media (min-width: 481px) and (max-width: 768px) {
  .discord, .linked{
    display: none;
  }

  .btn-dark-mode{
    font-size: 1.1em;
  }

  .hamburger-menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3px 0;
    padding: 9px 8px 9px 8px;
    border-radius: 3px;
    border: 1px solid #303030ce;
    background-color: #FFFFFF;
    box-shadow: 3.5px 3.5px 0 0 #2e2e2e;
    transition: .3s;
  }

  .hamburger-menu:hover{
    cursor: pointer;
  }

  .hamburger-menu:active{
    transform: scale(.95);
    box-shadow: 2px 2px 0 0 #2e2e2e;
  }

  .hamburger-menu div{
    width: 16px;
    height: 2px;
    background-color: #2e2e2e;
  }

  .del-hamburger-shadow{
    border: 1px solid #303030ce;
    box-shadow: none;
  }
}

/* for mobile devices */
@media (min-width: 320px) and (max-width: 480px) {
  .discord, .linked{
    display: none;
  }

  .btn-dark-mode{
    font-size: 1.1em;
  }

  .hamburger-menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3px 0;
    padding: 9px 8px 9px 8px;
    border-radius: 3px;
    border: 1px solid #303030ce;
    background-color: #FFFFFF;
    box-shadow: 3.5px 3.5px 0 0 #2e2e2e;
    transition: .3s;
  }

  .hamburger-menu:hover{
    cursor: pointer;
  }

  .hamburger-menu:active{
    transform: scale(.95);
    box-shadow: 2px 2px 0 0 #2e2e2e;
  }

  .hamburger-menu div{
    width: 16px;
    height: 2px;
    background-color: #2e2e2e;
  }

  .del-hamburger-shadow{
    border: 1px solid #303030ce;
    box-shadow: none;
  }
}