:root{
  --bg-dark-mode: #23272F;
  --m-i: linear-gradient(#000, #000);
  --m-o: content-box, padding-box;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins';
  font-size: 16px;
}